.mainDiv{
    padding: 30px;
    color: #fff;
    line-height: 2;
    font-weight: bold;


}
.endTag{
    color: rgb(255, 251, 251);
    font-weight: bold;
    text-align: end;
    font-size: 2vw;
}
.headingTag{
    font-size: 2.5vw;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}